# 用于启动mu镜像
version: '3.4'

services:
  digger-server:
    image: digger:latest
    container_name: digger-server
    working_dir: /app
    restart: unless-stopped
    shm_size: '128g'  # 设置共享内存大小
    ports:
      - "8091:8090"
    environment:
      - MINERU_TOOLS_CONFIG_JSON=/app/models/custom.json
    volumes:
      - ./temp_files/:/app/temp_files
      - ./batch_files/:/app/batch_files
      - ./custom.json:/app/custom.json
      - /home/hbcpdi/project/Model/:/app/models
      - ./fonts:/usr/share/fonts 
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all  # 使用全部GPU
              capabilities: [gpu]
    command: bash -c "python ./api.pyc"

  digger-nginx:
    image: nginx:latest
    ports:
      - "8092:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./temp_files/:/temp_files